.service-page-container{
	margin-top:100px;
}


.page-service-page .title-svg{
	position: absolute;
	top: -2px;
	left: 140px;
	width: 204px;
	height: 82px;
}

.page-service-page .title-rect{
	stroke-dasharray: 557;
	stroke-dashoffset: 557;
}

.service-page-block{
	position:relative;
	width:100%;
	height:auto;
	margin-bottom:100px;
}

.service-page-block .row{
	position:relative;
	width:100%;
	display:flex;
	height:auto;
	margin-bottom:55px;
}

.service-page-block:nth-child(even) .row{
	flex-direction: row-reverse;
}

.service-page-block .inner-block{
	position:relative;
	width:50%;
	height:auto;
	height:286px;
}

.service-page-block .copy{
	margin-right:30px;
}

.service-page-block:nth-child(even) .copy{
	margin-right:0px;
	margin-left:30px;
}

.service-page-block .video2{
	margin-top:0px;
}

.player-overlay{
	position:relative;
	width:100%;
	padding-top:56.25%;
	overflow:hidden;
	background-color:#111111;
	height:0px;
	padding-top:0px;
	height:286px;
}

.slider .slick-slide{
	height:286px;
}

.player-overlay:after{
	position:absolute;
	content:"";
	width:70px;
	height:70px;
	background-image:url("../assets/play-icon.svg");
	background-size:70px 70px;
	background-repeat: no-repeat;
	top:50%;
	left:50%;
	margin-left:-35px;
	margin-top:-35px;
	cursor:pointer;
}

.player-overlay.image:after{
	background:transparent;
}

.player-overlay img{
	position: relative;
	width: 100%;
	height: auto;
	top: 50%;
	transform: translate(0px,-50%);
	opacity: 0.3;
}

.player-overlay.image img{
	opacity:1;
}

.slider .slick-list{
	overflow:hidden !important;
}

.service-page-block .copy h2{
	display:block;
	position:relative;
	font-family: Poppins;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.07;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin:0;
	padding:0;
	margin-bottom:20px;
	margin-top:20px;
}

.service-page-block .copy p{
	display:block;
	position:relative;
	font-family: Poppins;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	color: #ffffff;
	margin:0;
	padding:0;
}

.service-page-block .quote{
	padding-left:48px;
}

.service-page-block .quote .quote-author{
	display:flex;
}

.service-page-block .quote .quote-author img{
	position:relative;
	width:75px;
	height:75px;
	border-radius:50%;
}

.service-page-block .quote .quote-author-details{
	position:relative;
	padding-left:30px;
	padding-top:25px;
}

.service-page-block .quote .quote-author-details .quote-author-name{
	position:relative;
	font-family: Poppins;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	color: #ffffff;
}

.service-page-block .quote .quote-author-details .quote-author-title{
	position:relative;
	font-family: Poppins;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	color: #ffffff;
}

.service-page-block .quote .quote-text{
	position:relative;
	font-family: Poppins;
	width:377px;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.56;
	letter-spacing: normal;
	color: #ffffff;
	padding-left:22px;
}

.service-page-block .quote .quote-text:before{
	content:"“";
	position:absolute;
	top:-14px;
	left:-2px;
	font-family: Poppins;
	font-size: 60px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ff6133;
}


@media only screen and (max-width: 1100px) {
	.service-page-block .quote .quote-text{
		width:290px;
	}

	.service-page-block .inner-block{
		height: 195px;
    	margin-bottom: 137px;
	}

	.player-overlay{
		height:195px;
	}

	.slider .slick-slide{
		height:195px;
	}
}

@media only screen and (max-width: 750px) {

	.service-page-container{
		margin-top:70px;
	}

	.service-page-block .inner-block{
		width:100%;
		margin-bottom:30px;
		height: auto;
	}

	.player-overlay{
		height:168px;
	}


	.slider .slick-slide{
		height:168px;
	}

	.service-page-block{
		margin-bottom:50px;
	}

	.service-page-block .row{
		flex-direction: column;
		margin-bottom:0px;
	}

	.service-page-block .row2{
		flex-direction: column-reverse;
	}

	.service-page-block .quote{
		padding-left:0px;
	}

	.service-page-block .quote .quote-text{
		width:280px;
	}

	.service-page-block .copy h2{
		font-size:20px;
	}

	.service-page-block .copy p{
		font-size:14px;
	}

	.service-page-block .quote .quote-text{
		font-size:16px;
	}

	.service-page-block .video2{
		margin-top:0px;
	}

	.service-page-block:nth-child(even) .row{
		flex-direction: column;
	}

	.service-page-block:nth-child(even) .row2{
		flex-direction: column-reverse;
	}

	.service-page-block:nth-child(even) .copy{
		margin:0px;
		margin-bottom:30px;
	}

	.player-overlay:after{
		background-size:50px 50px;
		background-position: center center;
	}

	.page-service-page .title-svg{
		position: absolute;
		top: -1px;
		left: 30px;
		width: 204px;
		height: 82px;
		transform: scale(0.5);
		transform-origin: 0 0;
	}

}