.page-job-page .title-line{
	position:absolute;
	top: 70px;
	left: 140px;
	width:192px;
	height:4px;
	background-color: #ff6133;
}

.page-job-page .job-page-header-block{
	position:relative;
	width:100%;
	display:flex;
}

.page-job-page .job-page-header-block .details,.page-job-page .job-page-header-block .image{
	position:relative;
	width:50%;
	box-sizing: border-box;
}

.page-job-page .job-page-header-block .details{
	padding-right:15px;
}

.page-job-page .job-page-header-block .image{
	padding-left:15px;
}

.page-job-page .job-page-header-block .image img{
	position:relative;
	width:100%;
	height:auto;
}

.page-job-page .job-page-header-block .details .title{
	position:relative;
	font-family: Poppins;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.07;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	height:auto;
	margin:0;
}

.page-job-page .job-page-header-block .details .date{
	position:relative;
	font-family: Poppins;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	color: #ffffff;
	margin:0;
	margin-top:23px;
}

.page-job-page .job-page-header-block .details .description{
	position:relative;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	text-align:left;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	margin:0;
	margin-top:30px;
}

.page-job-page .job-page-section-block{
	position:relative;
	width:100%;
	height:auto;
}

.page-job-page .job-page-section-block .section-title{
	position:relative;
	font-family: Poppins;
	font-size: 30px;
	font-weight: bold;
	color: #ff5213;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.07;
	letter-spacing: normal;
	text-align: left;
	height:53px;
	margin:0;
	display:inline-block;
	padding-top:11px;
	box-sizing:border-box;
	margin-top:60px;
	cursor: pointer;
}

.page-job-page .job-page-section-block .section-title:after{
	position:absolute;
	top:0px;
	right:-77px;
	width:53px;
	height:53px;
	background-color: #ff6133;
	font-family: Poppins;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	text-align: center;
	padding-top: 4px;
	box-sizing: border-box;

	content:"+";
}

.page-job-page .job-page-section-block.open .section-title:after{
	content:"-";
}

.page-job-page .job-page-section-block .section-description-overflow{
	position:relative;
	width:auto;
	height:0px;
	overflow:hidden;
}

.page-job-page .job-page-section-block .section-description{
	position:relative;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	text-align:left;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	margin:0;
	margin-top:40px;
}

.page-job-page .job-page-footer-block{
	position: relative;
	width:100%;
	height:auto;
}

.page-job-page .job-page-footer-block .text{
	position: relative;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	text-align:left;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	margin:0;
	margin-top:90px;
}

.page-job-page .job-page-footer-block a{
	text-decoration: none !important;
}

.page-job-page .job-page-footer-block .apply{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 161px;
	height: 40px;
	border: solid 1px #ff6133;
	background-color: #ff6133;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: normal;
	color: #ffffff;
	padding-top:11px;
	box-sizing: border-box;
	text-decoration: none;
	margin-top:90px;
}

.page-job-page .back{
	text-align:center;
	margin-top:30px;
}

@media only screen and (max-width: 750px) {

	.page-job-page .title-line {
		position: absolute;
		top: 37px;
		left: 40px;
		width: 98px;
		height: 3px;
		background-color: #ff6133;
	}

	.page-job-page .job-page-header-block .details, .page-job-page .job-page-header-block .image{
		width:100%;
		padding:0px;
	}

	.page-job-page .job-page-header-block .image{
		margin-bottom:50px;
	}

	.page-job-page .job-page-header-block{
		flex-direction:column-reverse;
	}

	.page-job-page .job-page-header-block .details .title{
		font-size:20px;
	}

	.page-job-page .job-page-header-block .details .date{
		font-size:12px;
		margin-top:15px;
	}

	.page-job-page .job-page-header-block .details .description{
		font-size:16px;
	}

	.page-job-page .job-page-section-block .section-title{
		font-size:20px;
		margin-top:30px;
	}

	.page-job-page .job-page-section-block .section-title:after{
		width:40px;
		height:40px;
		font-size:21px;
		right:-60px;
	}

	.page-job-page .job-page-section-block .section-description{
		font-size: 14px;
		margin-top:20px;
	}

	.page-job-page .job-page-footer-block .text{
		font-size:16px;
		margin-top:40px;
	}

	.page-job-page .job-page-footer-block .apply{
		margin-top:40px;
		transform:scale(0.8);
	}

	.back a{
		font-size: 14px !important;
	}

}