.page-clients .title-line{
	position:absolute;
	top: 70px;
	left: 140px;
	width:192px;
	height:4px;
	background-color: #ff6133;
}

.client-block{
	position:relative;
	width:330px;
	height:330px;
	background-size:cover;
	background-position:center center;
	margin-bottom:30px;
	cursor:pointer;
	overflow:hidden;
}

.client-block .bg{
	position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    object-fit: cover;
    object-position: center top;
}

.client-block:hover .bg{
	transform:scale(1.05);
}

.client-block.horizontal{
	width:690px;
}

.client-block.vertical{
	height:690px;
}

.client-block .client-name{
	position:absolute;
	top:18px;
	left:30px;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.client-block .client-plus{
	position:absolute;
	right:0px;
	bottom:0px;
	background-color: #ff6133;
	width:50px;
	height:50px;
}

.client-block .client-plus:after{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:50px;
	height:50px;
	background-image:url("../assets/plus.svg");
	background-position:center center;
	background-size:17px 17px;
	background-repeat: no-repeat;
	transition:transform 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.client-block:hover .client-plus:after{
	transform:rotate(90deg);
}

.client-block .client-name .dot{
	color: #ff6133;
}

/*.client-details{
	position:absolute;
	top:505px;
	left:0px;
	width:100%;
	height:auto;
	opacity:0;
	margin-bottom:100px;
	visibility: hidden;
	z-index:9999;
}

.client-details .bg-close{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:transparent;
	cursor:pointer;
	display:none;
}

.client-details .client-details-header{
	position:relative;
	left:50%;
	margin-left:-525px;
	width: 1050px;
	height: auto;
	display:flex;
}

.client-details .client-details-infos{
	position:relative;
	width: 690px;
	height: 330px;
	border: solid 1px #373737;
	background-color: #3e3e42;
	margin-right:30px;
	padding:30px;
	box-sizing: border-box;
}

.client-details .client-details-image{
	position:relative;
	width: 330px;
	height: 330px;
	overflow:hidden;
}

.client-details .client-details-image img{
	    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    object-fit: cover;
    object-position: center top;
}

.client-details .client-details-name{
	position:relative;
	width: auto;
	height: 47px;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ff6133;
}

.client-details .client-details-description{
	position:relative;
	width: 500px;
	height: 84px;
	margin-top:20px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.client-details .client-reach{
	position:absolute;
	bottom:30px;
	right:30px;
	height:85px;
	width:300px;
}

.client-details .client-reach:before{
	content:"";
	position:absolute;
	top:0px;
	right:0px;
	width: 60px;
	height: 60px;
	background-color: #ff6133;
	z-index:0;
}

.client-details .client-reach-number{
	position:relative;
	height: 56px;
	font-family: Poppins;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
	right: 5px;
}

.client-details .client-reach-label{
	position:relative;
	width:auto;
	height: 20px;
	font-family: Poppins;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
	margin-top:13px;
}

.client-details .client-details-carousel{
	position:relative;
	top:0px;
	left:0px;
	margin-top: 30px;
	width: 100%;
	height: auto;
	cursor:-webkit-grab;
}

.client-details .client-details-carousel .slide{
	position:relative;
	width:821px;
	height:461px;
	margin-right:15px;
	margin-left:15px;
	user-select:none;
	outline: none;
}

.client-details .client-details-carousel .slide img{
	outline: none;
}

.client-details .client-details-carousel .slide img:focus{
	outline: none;
}*/

.client-details{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.9);
	opacity:0;
	visibility: hidden;
	z-index:9999;
}

.client-details .back{
	position:absolute;
	top:45%;
	margin-top:-385px;
	width:300px;
	text-align:left;
	left:50%;
	margin-left:-525px;
}

.client-details .bg-close{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:transparent;
	cursor:pointer;
}

.client-details .client-details-header{
	position:absolute;
	top:45%;
	left:50%;
	margin-left:-525px;
	margin-top:-345px;
	width: 1050px;
	height: 330px;
	display:flex;
}

.client-details .client-details-infos{
	position:relative;
	width: 690px;
	height: 330px;
	border: solid 1px #373737;
	background-color: #3e3e42;
	margin-right:30px;
	padding:30px;
	box-sizing: border-box;
}

.client-details .client-details-image{
	position:relative;
	width: 330px;
	height: 330px;
	overflow:hidden;
}

.client-details .client-details-image img{
	    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    object-fit: cover;
    object-position: center top;
}

.client-details .client-details-name{
	position:relative;
	width: auto;
	height: 47px;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.client-details .client-details-name span{
	color: #ff6133;
	display:inline-block;
}

.client-details .client-details-description{
	position:relative;
	width: 500px;
	height: 84px;
	margin-top:20px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.client-details .client-reach{
	position:absolute;
	bottom:30px;
	right:30px;
	height:85px;
	width:300px;
}

.client-details .client-reach:before{
	content:"";
	position:absolute;
	top:0px;
	right:0px;
	width: 60px;
	height: 60px;
	background-color: #ff6133;
	z-index:0;
}

.client-details .client-reach-number{
	position:relative;
	height: 56px;
	font-family: Poppins;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
	right: 5px;
}

.client-details .client-reach-label{
	position:relative;
	width:auto;
	height: 20px;
	font-family: Poppins;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
	margin-top:13px;
}

.client-details .client-details-carousel{
	position:absolute;
	top:45%;
	left:0px;
	margin-top: 15px;
	width: 100%;
	height: 461px;
	cursor:-webkit-grab;
}

.client-details .client-details-carousel .slide{
	position:relative;
	width:821px;
	height:461px;
	margin-right:15px;
	margin-left:15px;
	user-select:none;
	outline: none;
}

.client-details .client-details-carousel .slide img{
	outline: none;
}

.client-details .client-details-carousel .slide img:focus{
	outline: none;
}

.client-social-icons{
	position:absolute;
	bottom:30px;
	left:30px;
	width:auto;
	height:18px;
}

.client-social-icons{
	display:flex;
}

.client-social-icon{
	position:relative;
	margin-right:6px;
	height:18px;
	width:auto;
	background-repeat: no-repeat;
}

.client-instagram{
	width:18px;
	height:18px;
	background-size:18px 18px;
	background-image:url("../assets/insta-icon.svg");
}

.client-twitter{
	width:21px;
	height:18px;
	background-size:21px 18px;
	background-image:url("../assets/twitter-icon.svg");
}

.client-twitch{
	width:17px;
	height:18px;
	background-size:17px 18px;
	background-image:url("../assets/twitch-icon.svg");
}

.client-youtube{
	width:26px;
	height:18px;
	background-size:26px 18px;
	background-image:url("../assets/youtube-icon.svg");
}


.back{
	position:relative;
	margin-top:40px;
	width: 100%;
	height: 23px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	text-decoration: none;
	text-align:center;
	cursor:pointer;
}

@media only screen and (max-height:880px){
	.details-scaler{
		transform: scale(0.8);
	    height: 800px;
	    pointer-events: none;
	}

	.client-details .client-details-header{
		pointer-events: auto;
	}

	.client-details .client-details-carousel{
		pointer-events: auto;
	}

	.slick-list{
		overflow: visible !important;
	}
}


@media only screen and (max-width: 1100px) {

	.clients-container{
	    margin-left: 17px;
	}

	.client-details .client-details-header{
		width:725px;
		margin-left:-362.5px;
	}

	.client-details .client-details-infos{
		width:430px;
	}

	.client-details .client-details-carousel .slide{
		width:725px;
		height:406px;
	}

	.client-details .back{
		margin-left:-362.5px;
	}

	.client-details .client-details-description{
		width:368px;
		font-size: 15px;
		line-height:20px;
	}
}


@media only screen and (max-width: 750px) {

	.details-scaler{
		transform: scale(1);
	    height: 800px;
	}

	.page-clients .title-line {
		position: absolute;
		top: 37px;
		left: 40px;
		width: 98px;
		height: 3px;
		background-color: #ff6133;
	}

	.client-block{
		width:300px;
		height:300px;
	}

	.client-block.horizontal{
		width:300px;

	}

	.client-block.horizontal .bg{
		position:relative;
		height:100%;
		width:auto;
		left:-130px;
		transition:transform 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	}

	.client-block.vertical{
		height:300px;
	}

	.client-details .client-details-header{
		position:absolute;
		margin-left:-150px;
		width: 300px;
		height:250px;
		margin-top: -295px;
	}

	.client-details .back{
		margin-left:-150px;
		margin-top:-335px;
	}

	.client-details .client-details-infos{
		width: 300px;
		height:250px;
		padding: 15px;
		margin-right:0px;
	}

	.client-details .client-details-description{
		width:238px;
		font-size:12px;
		line-height:15px;
		margin-top:2px;
	}

	.client-details .client-reach{
		bottom:15px;
		right:15px;
		transform:scale(0.8);
		transform-origin: 100% 100%;
	}

	.client-social-icons{
		left:15px;
		bottom:15px;
	}

	.client-details .client-reach{
		width:238px;
	}

	.client-details .client-details-image{
		display:none;
	}

	.client-details .client-details-carousel{
		margin-top:-16px;
	}

	.client-details .client-details-carousel{
		height:auto;
	}

	.client-details .client-details-carousel .slide{
		width:300px;
		height:168px;
	}

	.clients-container{
	    margin-left: 0px;
	}
}